<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
</head>
<body>

<a href="toAdd">商品入库</a>
<table width="100%" border="1px">
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>价格</th>
        <th>图片</th>
        <th>入库时间</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    <tr th:each="item:${itemList}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <img alt="" width="50px" height="50px" th:src="@{/upload/}+${item.pic}"/>
        </td>
        <td th:text="${item.createtime}"></td>
        <td th:text="${item.detail}"></td>
        <td>
            <a th:href="@{/findItemById(id=${item.id})}">编辑</a>
        </td>
    </tr>
</table>
</body>
</html>